.auth-main  {
    display: block;
    overflow: hidden;
}

.auth-main > div {
    border: solid 2px darkgray;
    width: 70%;
    margin:10% auto;
    text-align: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: darkgray;
}

.auth-main > div > h1,h3 {
    margin-bottom: 1rem;
}

.auth-main > div > button {
    width: 40%;
    margin-top: 1rem;
    padding: 0.2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
}

.auth-main > div > ul {
    color:#000;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.auth-main > div > ul > li {
    margin-top: 10px;
}

a {
    color: #000;
    text-decoration: none;
}

.selectionBtn {
    width: 70%;
    margin: 1rem auto;
}

.selectionBtn > span {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 5px;
}

.selectionBtn > span > button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
    width: 40%;
}

.signUpMain {
    overflow: hidden;
}

.signUpForm {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: solid 1px darkgray;
    background-color: darkgray;
}

.signUpForm > input {
    padding: 5px;
    width: 80%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
}

.signUpForm > button {
    width: 60%;
    padding: 5px;
    border-radius: 0.5rem;
    border: none;
}

.signUpDiv > p {
    border: solid 1px darkgray;
    width: fit-content;
    border-radius: 50%;
    background-color: darkgray;
    color: #fff;
    padding:0.5rem;
}

.signUpDiv > p > a {
    color: #fff;
}

.signUpForm > h1 {
    text-transform: capitalize;
}

.loginMain {
    overflow: hidden;
}

.loginForm {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: solid 1px darkgray;
    background-color: darkgray;
}

.loginForm > input {
    padding: 5px;
    width: 80%;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 0.5rem;
}

.loginForm > button {
    width: 60%;
    padding: 5px;
    border-radius: 0.5rem;
    border: none;
}

.loginDiv > p {
    border: solid 1px darkgray;
    width: fit-content;
    border-radius: 50%;
    background-color: darkgray;
    color: #fff;
    padding:0.5rem;
}

.loginDiv > p > a {
    color: #fff;
}

.loginForm > h1 {
    text-transform: capitalize;
}

.errorPopUp {
    border: solid;
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 1rem;
    background-color: darkgray;
    color: #fff;
    position: relative;
    left: 180%;
}

.errorPopUp > .errorMessage {
    text-transform: capitalize;

}


/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    margin: 40% auto;
    font-size: 10rem;
}
.loader {
    width: 40px;
    aspect-ratio: 1;
     --c: linear-gradient(#000 0 0);
     --m: radial-gradient(farthest-side,#000 90%,#0000);
    background: var(--c),var(--m),var(--c);
    background-size:18px 10px,12px 12px; 
    background-repeat: no-repeat;
    animation: 
      l19-1 .5s infinite alternate,
      l19-2  4s infinite linear .5s;
  }
  @keyframes l19-1 {
    0%,10%   {background-position: calc(50% - 8px) 50%,50% 10%,calc(50% + 8px)   50%}
    80%,100% {background-position: -20px           50%,50% 50%,calc(100% + 20px) 50%}
  }
  @keyframes l19-2 {
    0% ,24.99% {transform: rotate(0)}
    25%,49.99% {transform: rotate(90deg)}
    50%,74.99% {transform: rotate(180deg)}
    75%,100%   {transform: rotate(270deg)}
  }